/* General styles*/
body {
  font-family: Arial, sans-serif;
  padding: 1em;
  background-color: whitesmoke;
  color: whitesmoke; 
}

header{
  color: #dc143c;
}

nav{
  display: flex;
  padding: 1.5em;
  border-color: #dc143c;
  border-style: ridge;
  border-left: 0;
  border-right: 0;
  background-color: whitesmoke;
}

nav a{
  text-align: center;
  margin-right: 5em;
  padding: .5em;
  width: fit-content;
  border-radius: 10% 30% 10% 30%;
  color: whitesmoke;
  background-color: crimson;
}

.button{
  text-align: center;
  margin-right: 5em;
  padding: .5em;
  width: fit-content;
  border-radius: 10% 30% 10% 30%;
  color: whitesmoke;
  background-color: crimson;
}

a:hover{
  background-color: rgb(58, 58, 58);
}

.content-container{
  display: flex;
  margin-bottom: 3em;
}
aside {
  flex: 20%;
  border-style: solid;
  background-color: rgb(59, 59, 59);
  box-shadow: 5px 10px rgb(141, 51, 51);
  padding: 1.5em;
}

aside a{
  border-style: outset;
  padding: .5em;
}

section {
  background-color: #dc143c;
  flex: 70%;
  border-style: solid;
  padding: 1.5em  .5em  1em  1.5em;
}

#myphoto{
  border-radius: 100%;
  width: auto;
  float: left;
  margin-right: 1.5em;
  margin-bottom: .5em;
}

svg{
  max-width: 5%;

}

footer{
  color: #dc143c;
}
/* Responsive styles */

/*Mobile viewport styles*/
@media screen and (max-width: 480px) {
  .content-container{
    flex-direction: column;
  }
  nav a{
    margin-right: 0;
    margin-top: 1em;

  }
  nav{
    flex-direction: column;
  }

}

/*Tablet viewport styles*/
@media screen and (max-width: 768px) and (min-width: 481px) {
  .content-container{
    flex-direction: column;
  }
}

/*Desktop viewport styles*/
@media screen and (min-width: 769px) {
  /* body{
    background-color: lightsalmon;
  } */
}

